/node_modules
/public/dhaqaatiir/images
/public/hot
/public/swagger
/public/storage
/storage/*.key
/storage/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs/
.DS_Store
./public/.DS_Store